
// Default variable overrides
$body-bg: #f2f2f2;
$body-color: #31425f;
$primary: #31425F;
$secondary: #ffffff;
$success: #28A745;
$info: #F46523;
$warning: #FFC107;
$danger: #DC3545;
$light: #F8F9FA;
$dark: #343A40;
$font-family-sans-serif: 'Raleway', sans-serif;
$link-color: $info;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

strong {
    font-weight: 800;
    color:#F46523;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-link {
    color:#ffffff;
}

#form-barrier {
    padding: 0px 2rem 0px 2rem;
    margin-bottom: 10px;
}

.instructionsText {
    font-weight: 800;
    font-size: large;
    margin: 0px;
}

.btns {
    width: calc(25% - 20px);
    height: 80%;
    padding: 10px; /* Some padding */
    margin: 5px;
    box-shadow: -1px 3px 4px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
    transition: 300ms;
}

.App-header {
  background-color: #74777c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Table {
  // Add some padding to the table
  font-size: small;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}
